body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
}

header img {
    max-width: 100px;
    max-height: 100px;
}

section {
    margin: 20px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}